@charset "utf-8";

html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$basecolor : #f9f8f6;
$blown : #887f69;
$beige : #e2ddd4;
$gray : #b0b0b0;
$keycolor : #9d1a2d;

body{
  
  background-color: $basecolor;
  
  a{
      color: black;
      text-decoration: none;
    }
  a:hover{
          color: $blown;
        } 
  a img:hover{
      opacity: .5;
  }        
  a .back:hover{
      opacity: .5;
  }     
  a .next:hover{
      opacity: .5;
  }     
}

h2 {
  color: $blown;    
}
  
p {font-size: 12px;
}

  #header_in{
    padding-top: 10px;
    padding-bottom:20px;
  }

#section {
  margin-right: 0;
  
}


@media (max-width: 767px) {
    #header_in{
       padding-bottom: 10px;
    }
    
    .logo{
      clear: both;    
      width: 100%;
      display: block;
      text-align: center; 
      }
　　
    #cover_area .container {
       padding: 0 10px;
       margin: 0 auto;
    }
    .sp_navi{
        max-height: 30px;
    }
    
    .sp_navi_icon{
       clear: both;        
       display: -webkit-flex;
       display: flex;
       -webkit-justify-content: center;
       justify-content: center;
       margin-bottom: 0;
    
    li{
        text-decoration: none;
        display: block;
        margin: 0 7px;
    }
    } 

     
     #sp_navi_btn {
         cursor: pointer;
    }
    
    
    .sp_navi_li {
        position: absolute;
        top: 86%;
        right: 2%;
        width: 45%;
        background: white;
        margin: 0;
        padding:0;
        display: none;
        z-index: 100;

     li{
      display: block;
      list-style: none;    
      margin: 0;
      padding:0;

      a{
        display: block;
        padding: 10px 8px;
        color: $blown;
        font-size: 14px;
        text-decoration: none;
        
    a:hover{
        background-color: $beige;
        
      }    
      }
     }
    }
    }

    @media (min-width: 768px) {
    .sp_navi{
      display: none;
    }
    
        #header_in{
          padding-top: 30px;
        }
        
        .sixcolumns {
          margin: 0;
          padding: 0;
          
        }
        
        .pc_navi {
            display: flex;
            flex-direction: row;
            -webkit-flex-wrap: wrap; 
            flex-wrap:         wrap;
            min-width: 341px;
            align-items: flex-end;
            
          
        }
        
        .pc_navi_li{
           margin-bottom: 0;
           padding: 10px 7px 0 7px;
    
          
         
         img #insta_btn{
             padding: 0;
         }  
      }
      }
      
      
    @media (max-width: 767px) {
    .pc_navi{
      display: none;
    }
  }
   
    @media (min-width: 986px) {
        .pc_navi{
        display: flex;
        -webkit-flex-wrap: nowrap; 
        flex-wrap:         nowrap;
        min-width: 100%;
        
        }
        .pc_navi_li{
            margin-top: 20px;
            padding: 0 10px;
    }
    }
  
#sidebar{
   margin-left: 20px;
}
  .search{
    box-sizing: border-box;
    background-color: white;
    height: 90px;
    width: 100%;
    padding: 13px 20px;
    position: relative;
    
  .search_icon{
    box-sizing: border-box;
    background-color: $basecolor;
    width: 100%;
    padding: 0 10px;
    margin-top: 15px;
    }
  .search_icon i{
    color: #b5b5b5;
    font-size: 13px;
   }
   #search_icon{
     float: right;
     padding: 5px 0;
     }
  }
  
  .pagelink{
    box-sizing: border-box;
    background-color: $blown;
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    
  #next_icon{
    padding-top: 3px;
    float: right;
  }  
  }
  
  .categories{
    box-sizing: border-box;
    background-color: $blown;
    width: 100%;
    padding: 10px;
  
    
  #down_icon{
    float: right;
    padding-top: 9px;
  }
  }
  .categorie_name ul {
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 10px;
    
    li {
    list-style: none;
    border-bottom: 1px solid $basecolor;
    color: #00000;
    font-size: 12px;
    padding: 15px 10px;
    margin-bottom: 0;
    }
    img {
    float: right;
   }
  }
  
.about_title,.shopinfo_title {
    box-sizing: border-box;
    background-color: $blown;
    width: 100%;
    padding: 10px;
    
}
.about,.shop_info {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
  
  p{
    display: block;
    margin-bottom: 7px;
   
  }
}
  .more_btn{
    text-align: center;
    margin: auto;
    
  
}
@media (min-width: 756px) {
   #sidebar{
      margin-left: 20px;
        }
}
@media (max-width: 550px) {
   #sidebar{
      margin: 0 auto;}

   .pagelink #next_icon,.categories #down_icon,.categorie_name ul #next_icon_gray
   {
     float: right;
   }
   
   .about,.shop_info {
       min-height: 140px;
       padding-bottom: 10px;
       position: relative;
       
       
       img{
         float: left;
         width: 50%;
         padding: 5px;
       }
       p{
         float: right;
         width: 50%;
    
       }
 }
  .more_btn {
       clear: both;
       float: right;
       max-width: 110px;
       max-height: 40px;
       position: absolute;
       bottom: 20px;
       right: 40px;
     
     .u-max-full-width {
        max-width: 100%;
        box-sizing: border-box; }  
 }
}

 .nine #banner_img{
  width: 100%;
  background-size: cover;
  margin-bottom: 20px;

}

.owl-dots{
      float: left;
}
 
.container .owl-carousel .owl-dots .owl-dot span{
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     width: 25px;
     height: 3px;
    }  

 
 .container .owl-theme .owl-dots .owl-dot.active span, .container .owl-theme .owl-dots .owl-dot:hover span { 
     background-color: $keycolor; }
 
 

.title_new{
    margin: 15px 0;
}

 @media (max-width: 550px) {
 .owl-carousel #banner_img {
    margin-bottom: 0;
}

 .owl-carousel {
    margin-top: 0;
    margin-bottom: 10px;
}

.title_new{
     background: url("../images/top_sp/title_new_item.png");
     background-repeat: no-repeat;
     display: block;
     background-position: center center;
     height: 20px;
    
     
#new{
       display: none;
   }
} 
#new_items{
    margin-top: 40px;
}
  
}

 #new_items .container,#popular_items .container,#list_items .container,#look_item .container {
    display: -webkit-flex;
    display:         flex;
     -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    width: 100%;
    padding: 0;
    margin-bottom: 25px;
    
 }
 
    .item_box {
      -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 1px;
    padding: 10px;
    background-color: white;
    width: 32.4%;
    float: left;
    
     p{
       margin-bottom: 10px;
       float: left;
     }
    }
 
 .title_popular{
     margin: 15px;
 }

 @media (max-width: 550px) {
    .title_popular{
      background: url("../images/top_sp/title_popular.png");
      background-repeat: no-repeat;
      display: block;
      height: 20px;
      background-position: center center;
      margin-bottom: 20px;
      
    #popular{
       display: none;
    
    } 
    } 
     
   .item_box {
     width: 48.8%;
     margin: 0.5px
    }
 }
    
   
  .guide_box{
    display: -webkit-flex;
    display:         flex;
    width: 100%;
    padding: 0;
    margin: 0;
  }
    
    
  .guide_list{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
      background-color: white;
      width: 50%;
      padding: 20px;
      max-height: 260px;
      margin: 20px 3px;
  }
      
    .guide_img {
        display: block;
        color: $blown;
        font-weight: bold;
        
        h3{
            font-size: 15px;
            margin-bottom: 10px;
            
        }
        
    
     img{
       padding:0 90px 0 0;
     }
     
     li{
      list-style: none;
      font-size: 11px;
      padding-top: 8px;
      
    
       span{
        color: $blown;
        font-weight: bold;
        padding-left: 0;
        margin-left: 0;
       
     }
     }
  }
  
  @media (max-width: 550px) {
     .title_guide{
      background: url("../images/top_sp/title_guide.png");
      background-repeat: no-repeat;
      display: block;
      height: 17px; 
      background-position: center center;
      margin-bottom: 10px;
      
     #guide{
         display: none;
     } 
     } 
     
     .guide_box{
      display: -webkit-flex;
      display:         flex;
      -webkit-flex-direction:column;
      flex-direction:column;
      padding:0; 
      width: 100%;
      max-height: 565px;
    }
      
    .guide_list{
      width: 100%;
      margin: 10px 0;
    
      }
     .guide_img #deliver{
         min-width: 250px;
         min-height: 38px;
     }
     .guide_img #pay_img{ 
      min-width: 280px;
      min-height: 25px;
     }  
     }
  
  #pagetop{
    float: right;
    margin-right: 10px;
  }
 
  .footer{
      text-align: center;
    li{
      list-style: none;
      display: inline-block;
      font-size: 11px;
      letter-spacing: 3px;
      
    }
  }
  
  .copy{
    text-align: center;
    color: $blown;
    opacity: .5;
  }
  
  @media (max-width: 550px) {
      #foot_navi {
          margin-top: 20px;
          position: relative;
      }
     
      #pagetop{
         clear: both; 
         display: block;
         position: absolute;
         margin: auto;
         left: 0;
         right: 0;
         
      }
      
      .twelve hr{
      margin-top: 20px;
      margin-bottom: 10px;
  }
      .footer{
          margin: 0;
          li{
              display: inline;
              letter-spacing: -1px;
          }
          span{
              display: block;
              margin: 0 auto;
             }
      }
  }
  
  
  .home{
    box-sizing: border-box;
    display: inline-block;
    background-color: #e8e4da;
    width: 100%;
    height: 28px;
    padding: 5px 10px;
    position: relative;
     
    
    .home_menu{
      float: left;
      position: absolute;
      margin: auto;
      p{
        color: $blown; 
     }
    }
  }
  
  .bp{
      width: 100%;
      height: 30px;
      margin-bottom: 40px;
  }
  
  .back{
      float: left;}
  .next{
      float: right;}  
      
      
  .back, .next {
    box-sizing: border-box;
    background-color: $blown;
    width: 18%;
    height: 38px;
    display: inline-block;
    padding: 10px;
    
     P{
      color: white;
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: bold;
      text-align: center;
    }
  }
   @media (max-width: 550px) {
     .bp{
         width: 100%;
         position: relative;
         
     .back {
         width: 40%;
         position: absolute;
         left: 0px
     }
     .next {
         width: 40%;
         position: absolute;
         right: 0px;         
   }
   }
   }
    
     .title_look {
      margin-top: 30px;
      margin-bottom: 20px;
  }
  
  #products .container{
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    padding: 50px;
    
   .hr{
      margin: 0;
   } 
    .pro_title{
        
    li{
      list-style: none; 
      display: inline;
      font-size: 14px;
      letter-spacing: 3px;
      font-weight: bold; 
      
      span{
          font-size: 12px;
          color: $blown; 
          float: right;
          opacity: .5;
    }
    }
    }

  .pro {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    width: 100%;
    margin: 0;
  
  .pro img{
     cursor: pointer;  
  }
    
  .pro_box{
    box-sizing: border-box;
    background-color: white;
    margin-top: 0;
    padding: 0 3px;
    width: 43%;
    
  }  
  }
  }
 
  #cart2 {
      hr{
    margin: 0;
      }
  }
  .cart_box{
  width: 100%;
  border-collapse: collapse;
  
  th{
     
   border: 1px solid $beige;
   font-size: 12px;
   color: $blown;
   text-align: center;
   
  }
  td{
   background-color: #fff;
   border: 1px solid $beige;
}
}
 
 .price {
     display: inline-block;
     list-style: none;
     padding: 20px 0;
   
   span{
     font-size: 20px;
     color:$keycolor;
     padding-left: 40px;
   }
 }
  .quantity{
     display: inline-block;
     padding: 20px 0;
     
  .square{
      display: inline-block;
      width: 100px; 
      height:33px;
      border:1px solid $beige;
      margin-left: 30px;
  }
}

@media (min-width: 550px) {
  .ps_hr{
      display: none;
  }
}


 .five #img {
    padding-top:30px;
    margin:0;
}



#text hr{
    margin: 0 0 30px 0;
   }


h3{
      display: block;
      font-size: 14px;
      letter-spacing: 3px;
      font-weight: bold;
      color: $blown;
      font-weight: bold;
}

.text_list{
      hr{
          background-color: black;
          margin: 0;
      }
      
      p{
       display: block;
       padding-left: 0;
       font-size: 13px;
       color: black;
       
}
}
   
   .color_size{
        width: 100%;
        border-collapse: collapse;
        font-weight: normal;
    
    th{
     
   border: 1px solid $beige;
   font-size: 12px;
   color: $blown;
   text-align: center;
   
  }
  td{
   background-color: #fff;
   border: 1px solid $beige;
}
}    

@media (max-width: 550px) {
    #look_item{
         margin: 0;
         padding: 0;
    }
     
     .title_look{
      background: url("../images/list/title_recent_pro.png");
      background-repeat: no-repeat;
      display: block;
      height: 20px;
      background-position: center center;
      margin: 17px 0;
      
     #look{
         display: none;
     }   
  }
   

    .home{
        width: 98%;
        margin: 0 3px;
    }
    .home_menu {
        letter-spacing: -2px;
    }
    #products .container{
        padding: 10px;
        
        hr{
            margin: 10px 0;
        }
    
        
    .pro_title{
    li{
      display: block;
      margin: 0;
        
    span{
        float: left;
        display: block;
        font-size: 10px;
        
    }      
    }
    }
    }
    
    .pro{
       display: -webkit-flex;
       display:         flex;
       -webkit-flex-wrap:wrap;
       flex-wrap:wrap;
        width: 100%;
    }
     
   .pro_box{
          padding: 0 3px;
          max-width: 20%;
        }  
      
      #cart {
          hr {
          margin: 10px 0;
          }
         img {
            margin-bottom: 10px;
        }
        }
        
    .five {
        text-align: center;
        padding: 15px;
    }    
    
    .pc_hr{
         display: none;
     } 
        
}
h1{
  margin: 0;
  padding: 0;
}